**Print**

In [1]:
print("Hello World")

Hello World

Comment

In [2]:
#Python introduction

**Variables**

In [4]:
x = 10
y = "Python"
print(x)
print(y)

10
Python

**Casting**

In [5]:
x = str(10)
y = int(10)
z = float(10)
print(x)
print(y)
print(z)

10
10
10.0

**Get the data type**

In [6]:
x = 5
y = "Illiyas"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

**Case-sensitive**

In [7]:
a = 5
A = "Python"
print(a)
print(A)

5
Python

**Naming variable**

In [8]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

**Illegal variable**

In [9]:
2myvar = "John"
my-var = "John"
my var = "John"
print(2myvar)
print(my-var)
print(my var)

SyntaxError: invalid decimal literal (ipython-input-2328034091.py, line 1)

**If you have a collection of values in a list, tuple etc.
Python allows you to extract the values into variables.**

In [10]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

**use the + operator to output multiple
variables**

In [11]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

**Global variable**

• Variables that are created outside of a function.

• Global variables can be used by everyone, both inside of functions and outside

In [14]:
x = "awesome"
def myfunc():
  print("Python is " + x)
myfunc()

Python is awesome

**Random Number**

In [15]:
import random
print(random.randrange(1, 10))

5

**Check if "free" is present in the following text**

In [16]:
txt = "The best things in life are free!"
print("free" in txt)

True

**List**

In [20]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
thislist = ["apple", "banana", "cherry"]
print(len(thislist))
thislist = ["apple", "banana", "cherry"]
print(thislist[1])
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'banana', 'cherry']
3
banana
['apple', 'blackcurrant', 'cherry']

In [21]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

**Negative indexing means start from the end. -1 refers
to the last item, -2 refers to the second last item etc.**

In [25]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [24]:
thislist=["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']